// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.login-container {
  padding-top: 5%;
}

.login-heading {
  text-align: center;
}

.panel-buttons {
  float: right;
}

.list-price {
  float: left;
  margin-top: 0.55em;
  margin-bottom: 0em;
}

.delete-form {
  display: inline;
}